<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Servo app</title>
  </head>
  <body>
    <div class="container">
      <aside class="left-column">
        <section class="spotlight desktop">
          <div class="spotlight-header">
            <h2>Spotlight</h2>
            <a href="">refresh</a>
          </div>
          <div class="spotlight-content">
            <div>
              <p>Caltex dingley</p>
              <span>625 lower...</span>
            </div>
            <div>
              <span>img</span>
            </div>
          </div>
        </section>
        <section class="stats desktop">
          <h2>Stats</h2>
          <p>total station: 5240</p>
          <p>total owners: 10</p>
          <div class="box-stats">
            <span>Caltex</span>
            <span>1502</span>
          </div>
          <div class="box-stats">
            <span>Bp</span>
            <span>1502</span>
          </div>
          <div class="box-stats">
            <span>Shell</span>
            <span>1502</span>
          </div>
        </section>
        <section class="latest-prices desktop">
          <h2>latest prices</h2>
          <small>2023-03-08</small>
        </section>
        <section class="about desktop">
          <h2>about</h2>
          <h4>Team name: errorMakers</h4>
          <div class="about-links">
            <p>ak: <a href="">google</a></p>
            <p>cicero: <a href="">google</a></p>
            <p>iffath: <a href="">google</a></p>
            <p>stefanus: <a href="">google</a></p>
          </div>

          <p>@ 2023...</p>
        </section>
      </aside>
      <main id="map"></main>
      <aside class="right-column">
        <section class="date mobile">
          <span>img</span>
          <h3></h3>
        </section>
        <section class="center-location">
          <h2>map center location</h2>
          <div class="center-location_coord">
            <p class="lat">Lat: -25.363</p>
            <p class="lng">Lng: 131.044</p>
          </div>

          <strong>92 bignell...</strong>
        </section>
        <section class="nearest">
          <h2>Nearest</h2>
        </section>
      </aside>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script
      async
      src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&callback=initMap"
    ></script>

    <script src="/map_api.js"></script>
    <script type="module" src = "/commodity_api.js"></script>
  </body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script>
  const realTime = document.querySelector(".date h3");
  const nearestSection = document.querySelector(".nearest");

  setInterval(() => {
    realTime.textContent = moment().format("dddd, h:mm:ss a");
  }, 1000);

  function renderStations(station) {
    const box = `
    <div class="box-nearest">
      <img src="/assets/logos/${station.owner
        .toLowerCase()
        .replace(
          /[" "]/g,
          "-"
        )}.png" alt="" onerror="this.src='/assets/logos/default.png';">
          <div>
            <p>${station.name}</p>
            <p>${station.address}</p>
          </div>
    </div>
    `;
    nearestSection.innerHTML += box;
  }

  async function fetchStations() {
    const { data } = await axios.get("/api/stations/all");
    data.slice(0, 10).forEach((station) => {
      renderStations(station);
    });
  }

  fetchStations();
</script>