@import url('https://fonts.googleapis.com/css2?family=Forum&family=Roboto&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
}

body {
  /* font-family: sans-serif; */
  font-family: 'Forum', cursive;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  display: flex;
  min-height: 100vh;
}

.left-column {
  display: grid;
  position: absolute;
  height: 100%;
  z-index: 1;
  left: 0%;
  width: 25%;
}

main {
  flex: 2;
}

.right-column {
  width: 25%;
  display: grid;
  position: absolute;
  height: 100%;
  z-index: 1;
  right: 0%;
}

.spotlight {
  background-color: #fee4e1;
  border: 1px solid #ccc;
  padding: 10px;
  line-height: 200%;
}

.spotlight-header {
  display: flex;
  justify-content: space-between;
}

.spotlight-header h2{
  margin-bottom: 10px;
}

.spotlight-content {
  display: flex;
  justify-content: space-between;
}

.spotlight-content a{
  text-decoration: none;
  color: blue;
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-size: 22px;
}

.station-name{
  color: blue;
}

.stats {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fef0d5;
  line-height: 200%;
}


.box-stats {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #fde4c4;
}

.box-stats:last-child {
  border-bottom: 0;
}

.latest-prices {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: azure;
  line-height: 200%;
}


.latest-prices_info {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 5px;
}

.petroleum-icon {
  width: 1em;
}

.about {
  padding: 10px;
  background-color: #fff0f5;
  line-height: 200%;
}

.about-links {
  margin: 15px 0;
}

.date {
  padding: 5px;
  background-color: #faf0e6;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}

.date span{
  align-self: center;
}

.date h3{
  align-self: center;
}

.center-location {
  padding: 10px;
  background-color: #fee4e1;
}

.center-location_coord {
  margin: 10px;
  line-height: 200%;
}

.nearest-section {
  padding: 5px;
  background-color: #faf0e6;
}

.nearest-section h2{
  margin-bottom: 10px;
}

.box-nearest {
  display: flex;
  border: 1px solid #ccc;
  padding: 5px;
  line-height: 120%;
}

.box-nearest img {
  width: 48px;
  height: 48px;
  object-fit: contain;
  margin: 5px 10px;
  align-self: center;
}

.spotlight-image{
  width: 48px;
  height: 48px;
  object-fit: contain;
  margin: 5px 10px;
  align-self: center;
}

.box-nearest div {
  align-self: center;
}

#map {
  width: 50%; /* The width is the width of the web page */
  height: 100vh;
  position: absolute !important;
  display: grid;
  left: 25%;
}

.marker-label {
  text-align: center;
  top: 10px;
}

.left-slide-in {
  display: grid;
  position: absolute;
  -webkit-animation: left-slide-in 0.5s forwards;
  animation: left-slide-in 0.5s forwards;
}

.left-slide-out {
  -webkit-animation: left-slide-out 0.5s forwards;
  animation: left-slide-out 0.5s forwards;
}


.right-slide-in {
  display: grid;
  position: absolute;
  -webkit-animation: right-slide-in 0.5s forwards;
  animation: right-slide-in 0.5s forwards;
}

.right-slide-out {
  -webkit-animation: right-slide-out 0.5s forwards;
  animation: right-slide-out 0.5s forwards;
}

.map-full {
  width: 100% !important;
  left: 0% !important; 
}

@keyframes left-slide-in {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

@keyframes left-slide-out {
  from {
    display: grid;
    left: 0%;
  }
  to {
    display: none;
    left: -100%;
  }
}

@keyframes right-slide-in {
  from {
    right: -100%;
  }
  to {
    right: 0%;
  }
}

@keyframes right-slide-out {
  from {
    display: grid;
    right: 0%;
  }
  to {
    display: none;
    right: -100%;
  }
}
