* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
}

body {
  font-family: sans-serif;
}

.container {
  width: 100%;
  display: flex;
  min-height: 100vh;
}

.left-column {
  display: grid;
  position: absolute;
  height: 100%;
  z-index: 1;
  left: 0%;
  width: 25%;
}

main {
  flex: 2;
}

.right-column {
  width: 25%;
  display: grid;
  position: absolute;
  height: 100%;
  z-index: 1;
  right: 0%;
}

.spotlight {
  background-color: #fee4e1;
  border: 1px solid #ccc;
  padding: 5px;
}

.spotlight-header {
  display: flex;
  justify-content: space-between;
}

.spotlight-content {
  display: flex;
  justify-content: space-between;
}

.stats {
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #fef0d5;
}

.box-stats {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #fde4c4;
}

.box-stats:last-child {
  border-bottom: 0;
}

.latest-prices {
  padding: 5px;
  border: 1px solid #ccc;
  background-color: azure;
}


.latest-prices_info {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 5px;
}

.petroleum-icon {
  width: 1em;
}

.about {
  padding: 5px;
  background-color: #fff0f5;
}

.about-links {
  margin: 15px 0;
}

.date {
  padding: 5px;
  background-color: #faf0e6;
  display: flex;
  justify-content: space-evenly;
  
}

.center-location {
  padding: 5px;
  background-color: #fee4e1;
}

.center-location_coord {
  margin: 10px;
}

.nearest {
  padding: 5px;
  background-color: #faf0e6;
}

.box-nearest {
  display: flex;
  border: 1px solid #ccc;
}

.box-nearest img {
  width: 48px;
  height: 48px;
  object-fit: contain;
  margin: 5px 10px;
  align-self: center;
}

.box-nearest div {
  align-self: center;
}

#map {
  width: 100%; /* The width is the width of the web page */
}

.marker-label {
  text-align: center;
  top: 10px;
}

.left-slide-in {
  display: grid;
  position: absolute;
  -webkit-animation: left-slide-in 0.5s forwards;
  animation: left-slide-in 0.5s forwards;
}

.left-slide-out {
  -webkit-animation: left-slide-out 0.5s forwards;
  animation: left-slide-out 0.5s forwards;
}


.right-slide-in {
  display: grid;
  position: absolute;
  -webkit-animation: right-slide-in 0.5s forwards;
  animation: right-slide-in 0.5s forwards;
}

.right-slide-out {
  -webkit-animation: right-slide-out 0.5s forwards;
  animation: right-slide-out 0.5s forwards;
}

@keyframes left-slide-in {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

@keyframes left-slide-out {
  from {
    display: grid;
    left: 0%;
  }
  to {
    display: none;
    left: -100%;
  }
}

@keyframes right-slide-in {
  from {
    right: -100%;
  }
  to {
    right: 0%;
  }
}

@keyframes right-slide-out {
  from {
    display: grid;
    right: 0%;
  }
  to {
    display: none;
    right: -100%;
  }
}
